{% extends 'base.html.twig' %}

{% block title %}Ошибка сервера{% endblock %}

{% block body %}
    <div class="container">
        <h1>Произошла ошибка ({{ status_code }})</h1>
        <p>На сервере произошла непредвиденная ошибка. Пожалуйста, попробуйте позже.</p>
        <p><a href="{{ path('app_course_index') }}">Вернуться на главную</a></p>
    </div>
{% endblock %}