{% extends 'base.html.twig' %}

{% block title %}Доступ запрещен{% endblock %}

{% block body %}
    <div class="container">
        <h1>Доступ запрещен (403)</h1>
        <p>У вас нет прав для доступа к этой странице.</p>
        <p><a href="{{ path('app_course_index') }}">Вернуться на главную</a></p>
    </div>
{% endblock %}